* {
    margin: 0;
}

.slider {
    width: 100%;
    position: relative;
}

.slider__item {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.slider__item:nth-child(1) {
    background-image: url("../asset/image/gu6.jpg");
}

.slider__item:nth-child(2) {
    background-image: url("../asset/image/gu7.jpg");
}

.slider__item:nth-child(3) {
    background-image: url("../asset/image/gu8.jpg");
}

.slider__item:nth-child(4) {
    background-image: url("../asset/image/gu9.jpg");
}

.slider__item:nth-child(5) {
    background-image: url("../asset/image/gu10.jpg");
}

.showing {
    opacity: 1;
    z-index: 1;
}
